*{
    text-transform: capitalize;
} 
#footer{
    background-color: rgb(255, 194, 137);
    height: 300px;
    box-shadow:0 0 15px black;
    border-radius: 30px 30px 0px 0px;
}
.footer{
    display: inline-block;
    width: 220px;
    margin-left:70px;
    text-align:justify;
    vertical-align:top;
    font-size: 17px;
    padding: 20px;
    height: 260px;
}
#about{
    background-color: rgba(red, green, blue, 0.9);
    box-shadow: 0 0 15px black;
    border-radius: 15px 15px 0 0;
    background-size:30px;
}
#fundraising{
    background-color: rgba(red, green, blue, 0.9);
    box-shadow: 0 0 15px black;
    border-radius: 15px 15px 0 0;
    background-size:30px;
}
#policy{
    background-color: rgba(red, green, blue, 0.9);
    box-shadow: 0 0 15px black;
    border-radius: 15px 15px 0 0;
    background-size:30px;
}
#social a{
    font-size: 30px;
    margin-left: 15px;
}
#about a{
    color: black;
}
#policy a{
    color: black;
}
#fundraising a{
    color: black;
}
#footer2{
    text-align: center;
    background-color:rgb(255, 119, 40);
    color: white;
    padding: 20px;
    font-size: 20px;
}
#contact a{
    font-size: 15px;
}
#about:hover{
    transform: translate(-2px,1px);
}
#policy:hover{
    transform: translate(-2px,1px);
}
#fundraising:hover{
    transform: translate(-2px, 1px);
    overflow: hidden;
}
.footer a:hover{
    color: steelblue;
}
#about a:hover{
    color: steelblue;
}
#fundraising a:hover{
    color: steelblue;
}
#policy a:hover{
    color: steelblue;
}
.copy a{
    text-decoration: none;
    color: navy;
}