.card2 {
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: silver;
    padding: 5px;
    margin: 10px;
    color: black;
    height: 600px;
    justify-content: center;
    position: cover;
}

.btn-primary {
    background-color: crimson;
}

.list {
    background-color: dodgerblue;
    margin: 20px;
    padding: 20px;
}

.image {
    width: 450px;
    height: 350px;
}

.navbar nav {
    padding: 10px;
    position: sticky;
    top: 0;
}