* {
    margin: 0;
}

.col-5 {
    background-color: Navy;
}

#first {
    background-color: burlywood;
}

#info {
    padding: 0px;
    background-color: cadetblue;
}

#dark1 {
    background-color: black;
    color: white;
}