* {
    margin: 0px;
}

.card {
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 0 20px rgb(5, 5, 5);
    padding: 50px;
    width: 400px;
    height: 400px;
    border-radius: 10px
}

.form-control {
    margin-top: 20px;
    background-color: cornflowerblue;
}

.Butts {
    margin: 20px;
}

.btn-primary {
    background-color: black;
    color: blanchedalmond;

}

.form-label {
    margin-left: 110px;
    font-size: 20px;
}